@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  background-color: #f8f8f8;
}

.table_title{
  font-size: 20px;
  color: #5932EA;
  font-weight: 1000;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  background-color: #5932EA;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  background-color: #5932EA;
  color: #fff;
}

.brand {
  flex-grow: 1;
  padding: 10px 40px;
  border-right: 1px solid #977ef2;
  text-align: center;
  font-size: 38.59px;
  font-weight: bold;
}

.main-navigation {
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.main-navigation>.title {
  text-decoration: none;
  color: #fff;
  padding: 6px 40px;
  border-right: 1px solid #977ef2;
}

.main-navigation>.desc {
  padding: 0px 40px;
}

.main-navigation>.desc>.desc-title {
  font-size: 14px;
}

.main-navigation>.desc>.desc-subtitle {
  font-size: 14px;
  color: #977ef2;
}

.img-flag {
  flex-grow: 1;
  text-align: center;
  padding: 10px 50px;
}

.img-flag img {
  height: 50px;
}

.container {
  width: 95%;
  overflow: hidden;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.table {
  width: 100%;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: right;
  /* border: 1px solid #ddd; */
  border-collapse: collapse;
  padding: 7px 15px;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
}

.table tr:last-child td:first-child {
  border-radius: 0 0 0 9px;
  border-collapse: separate;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 9px 0;
  border-collapse: separate;
}

.table tr.column-default {
  border-bottom: 1px solid transparent !important;
}

.table tr.column-title {
  background-color: #f6f4feff;
  font-weight: bold;
}

.table tr.column-highlight {
  color: #5932EA;
  font-weight: bold;
}

.table tr:not(.column-highlight):not(.column-title) {
  border-bottom: 0.13rem solid #eee;
}

.colspan-title {
  text-align: right;
}

.map {
  width: 100%;
}

/* map styles */
#map {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.jvm-series-container.jvm-series-v {
  top: auto;
  bottom: 30px !important;
}

.jvm-series-container {
  left: 15px;
}

.jvm-series-container .jvm-legend {
  background-color: transparent;
  border: none !important;
  border-radius: 0;
  box-shadow: none;
}

.jvm-series-container .jvm-legend .jvm-legend-title {
  border-bottom: 0;
}

.jvm-legend-tick .jvm-legend-tick-sample {
  height: 20px !important;
  border-radius: 1px !important;
}

/* Media Queries All Screen */
/* mobile */
@media screen and (max-width: 648px) {
  .table {
    font-size: 10px;
  }
  .table tr:not(.column-highlight):not(.column-title) {
    border-bottom: 0.13rem solid #eee;
  }

  .desc {
    display: none;
  }
  .brand {
    padding: 5px 20px;
    border-right: 1px solid #977ef2;
    text-align: center;
    font-size: 18.59px;
    font-weight: bold;
  }

  .img-flag {
    flex-grow: 1;
    text-align: center;
    padding: 5px 15px;
    margin-top: 6px;
    align-self: center;
  }
  
  .img-flag img {
    height: 30px;
  }

  .main-navigation>.title {
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    border-right: 0px solid #977ef2;
  }

  #map {
    display: none;
  }

  .footer-content {
    flex-wrap: wrap;
    font-size: 10px;
  }
}

/* tablet */
@media screen and (max-width: 1016px) {
  .main-navigation>.desc>.desc-title {
    font-size: 10px;
  }
  .main-navigation>.desc>.desc-subtitle {
    font-size: 10px;
  }

  .table tr th:not(:first-child):not(:last-child) {
    display: none;
    text-align: right;
  }

  .table tr td:not(:first-child):not(:last-child) {
    display: none;
    text-align: right;
  }

  tr.column-bordered {
    border-bottom: 1px solid #ddd;
  }
}